.LandingPage .navItems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.LandingPage .logo {
    margin: 20px;
    height: 40px;
    width: 40px;
    font-size: 22px;
}

.LandingPage .items {
    margin-right: 130px;
}

.LandingPage .item {
    display: inline-block;
}

.LandingPage .account {
    float: left;
    margin-left: -400px;
}

.LandingPage .item a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    margin: 10px 5px;
    cursor: pointer;
    transition: all .3s;
}

.LandingPage .account a {
    display: block;
    background-color: #FFF;
    color: #4B8DF0;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    transition: all .3s;
    margin: 10px 15px;
    cursor: pointer;
}

.LandingPage .item a:hover,
.LandingPage .account a:hover {
    transition: all .3s;
    transform: scale(1.05);
}

.LandingPage header {
    width: 100%;
    height: 660px;
    background-image: url(../../assets/images/background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.LandingPage .start {
    filter: drop-shadow(0 0 100px #333);
    margin-left: 200px;
    width: 400px;
    height: 250px;
}

.LandingPage .title {
    font-size: 40px;
    margin-top: 120px;
    margin-bottom: 20px;
    color: #FFF;
}

.LandingPage .content {
    color: #FFF;
}

.LandingPage .startButtons {
    padding: 12px 22px;
    margin-top: 15px;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid #FFF;
    transition: all .3s;
}

.LandingPage .startButtons a {
    text-decoration: none;
}

.LandingPage .access,
.LandingPage .about {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.LandingPage .access {
    background-color: #FFF;
}

.LandingPage .access a {
    color: #4B8DF0;
}

.LandingPage .about {
    background-color: transparent;
}

.LandingPage .about a {
    color: #FFF;
}

.LandingPage .about:hover,
.LandingPage .access:hover {
    transform: scale(1.05, 1.05);
    transition: all .3s;
}

.LandingPage .template {
    margin-left: 50%;
    margin-top: -300px;
}

.LandingPage main {
    background-color: #FFF;
    height: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.LandingPage #home,
.LandingPage #about,
.LandingPage #features,
.LandingPage #app,
.LandingPage #contact {
    scroll-behavior: smooth;
}

.LandingPage #about {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.LandingPage #about #purple-card {
    padding-left: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 200px;
}

.LandingPage #about * {
    color: #333;
}

.LandingPage #about h1,
.LandingPage #about p {
    filter: drop-shadow(0 0 50px #A351F0);
}

.LandingPage #about h1 {
    margin-bottom: 20px;
}

.LandingPage #about p {
    margin-right: 100px;
}

.LandingPage #logo {
    margin-left: 70%;
    z-index: 2;
    width: 200px;
}

.LandingPage #app {}

.LandingPage #features {
    background-color: #FFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 600px;
}