.navItems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 20px;
    height: 40px;
    width: 40px;
    font-size: 22px;
}

.items {
    margin-right: 130px;
}

.item {
    display: inline-block;
}

.account {
    float: left;
    margin-left: -400px;
}

.item a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    margin: 10px 5px;
    cursor: pointer;
    transition: all .3s;
}

.account a {
    display: block;
    background-color: #FFF;
    color: #4B8DF0;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    transition: all .3s;
    margin: 10px 15px;
    cursor: pointer;
}

.item a:hover,
.account a:hover {
    transition: all 0.3s;
    transform: scale(1.05);
}

header {
    width: 100%;
    height: 660px;
    background-image: url(./assets/images/background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.start {
    margin-left: 200px;
    width: 400px;
    height: 250px;
}

.title {
    font-size: 40px;
    margin-top: 120px;
    margin-bottom: 20px;
    color: #FFF;
}

.content {
    color: #FFF;
}

.startButtons {
    padding: 12px 22px;
    margin-top: 15px;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid #FFF;
    transition: all .3s;
}

.startButtons a {
    text-decoration: none;
}

.access,
.about {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.access {
    background-color: #FFF;
}

.access a {
    color: #4B8DF0;
}

.about {
    background-color: transparent;
}

.about a {
    color: #FFF;
}

.about:hover,
.access:hover {
    transform: scale(1.05, 1.05);
    transition: all .3s;
}

.template {
    margin-left: 50%;
    margin-top: -300px;
}

main {
    background-color: #FFF;
    height: 660px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}