.homeItems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, blueviolet, #C280FF);
    display: flex;
    align-items: center;
}

.homeItem {
    float: left;
}

.homeItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.homeItem a:hover {
    background-color: #a351f0;
}

.hamburguer {
    font-size: 20px;
    color: #FFF;
    margin: 0 20px;
}

.Home h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    background: -webkit-linear-gradient(left, blueviolet, #C280FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}