.Footer .items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 220px;
    background-image: url(../../assets//images/background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.Footer div {
    display: flex;
    gap: 10vw;
}

.Footer ul {
    list-style-type: none;
}

.Footer h3 {
    color: #333;
    margin-bottom: 15px;
}

.Footer li {
    color: #2E2E2E;
    margin: 5px auto;
    transition: all .3s;
    font-size: 18px;
}

.Footer a {
    scroll-behavior: smooth;
    text-decoration: none;
    transition: all .3s;
    color: #2E2E2E;
}

.Footer li:hover,
.Footer a:hover {
    transition: all .3s;
    color: #FFF;
}

.copyright {
    background-color: #494653;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p {
    text-align: center;
    color: #FFF;
}